body{
	margin: 0px;
}

div{
	padding: 0px;
	margin: 0px;
	display: block;	
}

.bszn_title p, .bszn_title a{
	word-wrap: break-word;
	line-height: 120%;
	font-weight: bold;
	padding: 5px 10px;
}

.div_head{
	width:100%;
	background-color: blue;
}

.div_content{
	width:100%;
}

.div_left{
	width:15%;
	float:left;
}

.div_center{
	width:70%;
	float:left;
}

.bszn_title{
	width:20%;
	float:left;
}

.bszn_title>p{
	margin: 0px;
	margin-bottom: 2px;
	font-size:18px;
	font-weight: bold;
	background: #6DB6F8;
	color: #ffffff;
}

.title_1,.title_2{
	margin-bottom: 2px;
	display: none;
}

.title_1>p{
	padding-left:15px;
	margin: 0px;
	margin-bottom: 2px;
	font-size:16px;
	background: #E0E6EF;
}

.title_1>a{
	margin-top:2px;
	padding-left:15px;
	display:block;
	text-decoration: none;
	font-size:16px;
	background: #E0E6EF;
}

.title_2>a{
	margin-top:2px;
	padding-left:30px;
	background-color:#EFEFEF;
	color:#006699;
	display:block;
	text-decoration: none;
	font-size:14px;
}

.title_1 a:hover{
	background-color:#C7CCD3;
	text-decoration: underline;
}

.title_1 a.current{
	background-color: #C7CCD3;
}

.bszn_content{
	width:75%;
	float:left;
	word-break:break-all;
	padding-top:2px;
	padding-left:5%;
}

.div_right{
	width:15%;
	float:left;
}

.div_clear{
	clear:both;
}

.div_foot{
	width:100%;
	/*
	background-color: blue;
	*/
}